@model AuthenticateModel

<h3 class="text-center">Sign In</h3>
<button class="btn btn-primary btn-lg">Use Google Account</a></button>
<hr/>
<p class="lead">OR</p>
<form asp-action="Authenticate" asp-controller="Users" method="POST">
    <div class="form-group">
    <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username"/> <br>
    <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password"/>
        <span class="text-danger" asp-validation-for="Username"></span>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-md" type="submit" >Sign In</button>
    </div>
</form>
<p>
    <a href="#">Forgotten your password?</a>
</p>
<p>
    <a href="#">Not a member? Register</a>
</p>

