@{
    ViewData["Title"] = "Dashboard";
}
<head>
    @* <link rel="stylesheet" href="~/css/loginstyle.css"/> *@
</head>
<div class="container">
    <h1>WHELP, welcome @Context.Session.GetString("FullName")</h1>
</div>