@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/loginstyle.css"/>
</head>
<div class="container h-100">
    <div class="d-flex justify-content-md-center align-items-center vh-100">
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <h3>devtrack</h3><br/>
<div id="main">

            <partial name="_Login"/>
</div>
    <p>
    <a href="#" class="register" data-toggle="modal" data-target="#Register">Not a member? Register</a>
            <partial name="_Register"/>
</p>
        </div>
    </div>
</div>