body {
  height: 100%;
  background-color: #BDD9BF;
}

.container {
  height: 100%;
}

.register {
  margin-top: 20px;
}

#main {
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 20px;
}

#main h3 {
  color: #2e4052;
  margin-top: 20px;
}


a {
  transition: all 0.3s;
}

h3 {
  color: #ffffff;
  margin-bottom: 40px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #2e4052 !important;
  color: #ffffff !important;
  margin-bottom: 10px;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #ffc857 !important;
  color: #2e4052 !important;
}

p,
a,
a:active,
a:visited,
a:hover {
  color: #2e4052;
  font-size: 10pt;
}

label {
  text-align: left;
}

.formcontrol {
  text-align: center;
  color: #412234 !important;
  opacity: 1;

}

.form-control::placeholder {
  text-align: center;
  color: #412234 !important;
  opacity: 1;
  font-size: 11pt;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  text-align: center;
  font-size: 11pt;
  color: #412234 !important;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  text-align: center;
  font-size: 11pt;
  color: #412234 !important;
  opacity: 1;
}

.form-control::moz-placeholder {
  text-align: center;
  font-size: 11pt;
  color: #412234 !important;
  opacity: 1;
}

.form-control::webkit-input-placeholder {
  text-align: center;
  color: #412234 !important;
  font-size: 11pt;
  opacity: 1;
}

input,
select,
textarea {
  text-align: center;
  font-size: 11pt;
  color: #412234 !important;
  opacity: 1;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* palette https://coolors.co/bdd9bf-2e4052-ffc857-ffffff-412234 */