* {
    margin: 0;
    padding: 0;
    border: 1px dotted pink;
}

.top {
    padding: 20px;
    background-color: #2e4052;
    color: #ffffff;
}

.main {
    background-color: #ffffff;
}

.pcards {
    /* display: flex; */
    /* justify-content: flex-start; */
    margin-bottom: 20px;
}

.pcard {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid gray;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    background-color: #412234;
    color: #bdd9bf;
}

.pcard p {
    vertical-align: middle;
}

body {
    background-color: #bdd9bf;
}

h4 {
    color: #2e4052;

}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #2e4052 !important;
    color: #ffffff !important;
    margin-bottom: 10px;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
    background-color: #ffc857 !important;
    color: #2e4052 !important;
}

p,
a,
a:active,
a:visited,
a:hover {
    color: #2e4052;
    font-size: 10pt;
}

label {
    text-align: left;
}

.formcontrol {
    color: #412234 !important;
    opacity: 1;
}

.form-control::placeholder {
    color: #412234 !important;
    opacity: 1;
    font-size: 11pt;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 11pt;
    color: #412234 !important;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    font-size: 11pt;
    color: #412234 !important;
    opacity: 1;
}

.form-control::moz-placeholder {
    font-size: 11pt;
    color: #412234 !important;
    opacity: 1;
}

.form-control::webkit-input-placeholder {
    color: #412234 !important;
    font-size: 11pt;
    opacity: 1;
}

input,
select,
textarea {
    font-size: 11pt;
    color: #412234 !important;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul li {
    margin-left: 50px;
}